@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --container-background-color: #1B1B1B;

    --container-child-name-description-background-color: #F5F5F5;
    --container-child-name-description-text-color: #283044;

    --container-child-url-background-color: #414A4C;
    --container-child-url-text-color: #FFFAFF;
}

body {
    background-color: var(--container-background-color);
    font-family: 'Outfit', sans-serif;
}

#container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.container-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    width: 100%;
}

.container-child-name, .container-child-description, .container-child-url {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    text-align: justify;
}

#container-child-name, #container-child-description, #container-child-url {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
}

.headers {
    margin-bottom: 1rem;
}

.container-child-name, .container-child-description {
    background-color: var(--container-child-name-description-background-color);
    color: var(--container-child-name-description-text-color);
}

.container-child-url {
    background-color: var(--container-child-url-background-color);
    color: var(--container-child-url-text-color);
}
.container-child-name, .container-child-description, .container-child-url {
    font-size: 1.3rem;
    text-align: left;
    word-break: break-all;
}